<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between
             align-items-center px-2">
    Active
    <span class="badge badge-light badge-pill">
      <%= @items.where(completed: false).count %>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between
             align-items-center px-2">
    Completed
    <span class="badge badge-light badge-pill">
      <%= @items.where(completed: true).count %>
    </span>
  </li>
</ul>
