<div class="row mt-2">
  <div class="col-md-4">
    <%= render "form" %>
  </div>
  <div class="col-md-2">
    <%= render "reting" %>
  </div>
  <div class="col-md-8">
    <%= render "all_items" %>
  </div>
</div>
